# Functions

#### Warm up

In [12]:
bands = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

bands3 = [band.strip(' .,').title() for band in bands]
print(bands3)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [ ]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [8]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

bands4 = [band.strip(' .,').title() for band in bands2]
print(bands4)

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

##### User-Defined vs. Built-In Function

In [14]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [15]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello(): # Defining the function
    print('Hello!')
    
print(say_hello)
say_hello

<function say_hello at 0x7fa1faa21280>

In [16]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [18]:
# Executing a function
# Syntax: function_name()

print('Before the function execution')
say_hello() # executing the function - don't forget the paranthesis
print('After the function execution')

Before the function execution
Hello
After the function execution

##### Accepting Parameters

In [21]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>


def say_hello(first, last):
    print(f"Hello {first} {last}")
    
# Execute
# Syntax: function_name(data1, data2)
say_hello('Usama', 'Qazi')
say_hello('Qazi', 'Usama')

Hello Usama Qazi
Hello Qazi Usama

##### Passing in variables as parameters

In [22]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02215'
city2 = 'Baltimore'
state2 = 'MD'
zip_code2 = '21221'

# City, State - ZipCode

def format_address(city, state, zip_code):
    print(f"{city}, {state} - {zip_code}")
    
format_address('Chicago', 'IL', '60606')
format_address(city1, state1, zip_code1)
format_address(city2, state2, zip_code2)

Chicago, IL - 60606
Boston, MA - 02215
Baltimore, MD - 21221

##### Keyword Arguments

In [28]:
def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have made a payment of ${amount_paid} to account #{account_number}")
    print(f"Your new balance is ${new_total}")
    print(f"Thank you for your payment")
    
    
make_a_payment(1000, 100, '744514542545218')

You have made a payment of $100 to account #744514542545218
Your new balance is $900
Thank you for your payment

In [29]:
make_a_payment(account_number='545845125454', total_amount_due=2000, amount_paid=200)

You have made a payment of $200 to account #545845125454
Your new balance is $1800
Thank you for your payment

##### Default Parameters

In [38]:
# default parameter need to be after non-default parameters at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=''):
    total_price = 4.50
    message = f'Thank you {customer_name}. Here is your receipt:\n'
    message += '1 Hamburger\n'
    if cheese:
        message += '\twith cheese\n'
    if lettuce:
        message += '\twith lettuce\n'
    if tomato:
        message += '\twith tomato\n'
    if onions:
        message += f'\twith {onions} onions\n'
        total_price += .50
    message += f'Total: ${total_price:.2f}'
    print(message)
    
make_a_burger('Usama')

Thank you Usama. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [32]:
make_a_burger('Claire', True, False, False)

Thank you Claire. Here is your receipt:
1 Hamburger
	with cheese
Total: $4.50

In [39]:
make_a_burger('David', onions='grilled')

Thank you David. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with grilled onions
Total: $5.00

##### \*args and **kwargs

In [46]:
def my_function(arg1, *args, **kwargs):
    print(arg1)
    print(args)
    print(type(args))
    print(kwargs)
    print(type(kwargs))
    
my_function('a', 'b', 'c', 'd', 'e', 'f', key='value', num=10)

a
('b', 'c', 'd', 'e', 'f')
<class 'tuple'>
{'key': 'value', 'num': 10}
<class 'dict'>

In [41]:
max(3225, 543453, 3323, 6566, 43, 23, 4)

543453

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [64]:
cars = [('blue', 'toyota', 'tundra'), ('green', 'chevy', 'silverado'), ('pink', 'ford', 'f-150')]


def format_car(color, make, model):
    print(f"{color.title()} {make.title()} {model.title()}")


format_car('red', 'honda', 'civic')

Red Honda Civic

In [65]:
for c in cars:
    format_car(c[0], c[1], c[2])

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [66]:
car = ('red', 'honda', 'civic')

car, make, model = car

print(car)
print(make)
print(model)

red
honda
civic

In [67]:
for color, make, model in cars:
    format_car(color, make, model)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [72]:
student = 'Little Joe' # globally-scoped variables
teacher = 'Ms Buttercup'

def assign_student(student_name):
    student = 'Average Jack'
    print(student)
    print(f"{student_name} has been assigned to {teacher}'s class")
    
assign_student("Big Mike")
print(student)

Average Jack
Big Mike has been assigned to Ms Buttercup's class
Little Joe

##### Returning Values

In [73]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

my_list = [54, 45, 34, 5, 65, 32, 767, 645]
max_in_a_list = max(my_list)
print(max_in_a_list)

767

In [75]:
def f(x):
    return 2 * x

y = f(6)
print(y)

12

In [76]:
y ** 2

144

In [79]:
# Return will also immediately terminate the function

def early_return(n):
    for i in range(n):
        return i
    
value = early_return(515452456)
print(value)

0

In [84]:
def early_return_again(n):
    for i in range(10,n):
        return i
    print('Hello I am after the loop')
    
value_again = early_return_again(20)
print(value_again)

10

#### Multiple returns in a function

In [87]:
def can_vote(birth_year):
    if 2022 - birth_year >= 18:
        return True
    return False
    
print(can_vote(2010))

False

##### Difference between `return` and `print`

In [90]:
def format_clean_headline_print(headline):
    print(headline.strip().title() + "!")

def format_clean_headline_return(headline):
    return headline.strip().title() + "!"


def publish_article(headline, author, body):
    clean_headline = format_clean_headline_print(headline)
    print(f"""
    {headline}
    By: {author}
    {body}
    """)
    
publish_article('        i lOvE pYtHoN', 'Usama', 'I actually love learning about Python functions')

I Love Python!

            i lOvE pYtHoN
    By: Usama
    I actually love learning about Python functions

#### Functions with Lists

In [97]:
def clean_band_names(list_of_bands):
    cleaned_bands = []
    for band in list_of_bands:
        clean_name = band.strip(' ,.').title()
        cleaned_bands.append(clean_name)
    return cleaned_bands

clean_band_names

In [91]:
print(bands)
print(bands2)

['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']
[' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

In [98]:
cleaned_bands = clean_band_names(bands)
print(cleaned_bands)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [124]:
european_cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]


def cities_in_country(cities, country_name):
    output = []
    for city in cities:
        print(city)
        if city[1] == country_name:
            output.append(city)
    return output
    

italian_cities = cities_in_country(european_cities, 'Italy')
print(italian_cities)

spanish_cities = cities_in_country(european_cities, 'Spain')
print(spanish_cities)

english_cities = cities_in_country(european_cities, 'England')
print(english_cities)

('London', 'England')
('Manchester', 'England')
('Barcelona', 'Spain')
('Madrid', 'Spain')
('Rome', 'Italy')
('Florence', 'Italy')
[('Rome', 'Italy'), ('Florence', 'Italy')]
('London', 'England')
('Manchester', 'England')
('Barcelona', 'Spain')
('Madrid', 'Spain')
('Rome', 'Italy')
('Florence', 'Italy')
[('Barcelona', 'Spain'), ('Madrid', 'Spain')]
('London', 'England')
('Manchester', 'England')
('Barcelona', 'Spain')
('Madrid', 'Spain')
('Rome', 'Italy')
('Florence', 'Italy')
[('London', 'England'), ('Manchester', 'England')]

In [125]:
def get_cities_from_country(cities, country_name):
    return [city for city, country in cities if country == country_name]

italian_cities = get_cities_from_country(european_cities, 'Italy')
print(italian_cities) # ['Rome', 'Florence']

spanish_cities = get_cities_from_country(european_cities, 'Spain')
print(spanish_cities) # ['Barcelona', 'Madrid']

['Rome', 'Florence']
['Barcelona', 'Madrid']

#### Docstrings

In [127]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [126]:
help(get_cities_from_country)

Help on function get_cities_from_country in module __main__:

get_cities_from_country(cities, country_name)

In [128]:
def add_nums(num1, num2):
    return num1 + num2

val = add_nums(10,20)
print(val)

30

#### Whiteboard Approach

1. What are the input(s)?
2. What are the output(s)?
3. Consider constraints and edge cases
4. Write out steps logically (No python)
5. Pseudocode
6. Code

#### Whiteboard Example

Find Even numbers<br>
Create a function that, given a list as a parameter, finds the even numbers <br>
inside the list. The function should then return a list.<br>
Bonus: Use a list comprehension to find your solution<br>
Example:<br>
Input: [2, 7, 10, 11, 12]<br>
Output: [2, 10, 12]<br>

In [129]:
# 1. Input(s) : List[int]
# 2. Output: List[int] -> all int should be even
# 3. If input list is empty or has no evens, return an empty list. Can assume all ints in input list are between 0 and 100


# 4. Go through the list, check each item and see if it is even, 
# if so, add that item to your list of evens, once finished checking, 
# return list of evens


# define our function with one parameter nums
def even_nums(nums):
    # create an empty list for our even numbers
    list_of_evens = []
    # loop through the list we were given
    for n in nums:
        # check each item to see if it is even
        if n % 2 == 0:
            # if the item is even, add it to our even numbers list
            list_of_evens.append(n)
            # if the item is odd, do nothing
            
    # Once we have finished looping through the given list, return the even numbers list
    return list_of_evens


even_nums([2, 7, 10, 11, 12])

[2, 10, 12]